.left-navbar-container {
    
}

.left-navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    height: 100px;
}

.antojitos-logo {
    width: 220px;
}

.collapse-button {
    height: 25px;
    width: 25px;
    border-style: none;
    border-radius: 4px;
    background-color: var(--MAIN-COLOR-LIGHT);
    color: var(--FONT_MEDIUM_DARK);
    opacity: 0.5;
}

.left-navbar-nav {
    width: 10px;
}